<div class="c-container">
  <%= render 'shared/nav'%>
  <main class="c-card__container">
    <div class="c-card">
      <%= image_tag("bg-4.jpg", alt: "Sample-img", class: "c-card__img") %>
      <div class="c-card__text-holder">
        <h3 class="c-card__title"><%= link_to "Project Title", "#", class:"c-card__title--link" %></h3>
        <p class="c-card__text">Project Text</p>
      </div>
    </div>
    <div class="c-card">
      <%= image_tag("bg-4.jpg", alt: "Sample-img", class: "c-card__img") %>
      <div class="c-card__text-holder">
        <h3 class="c-card__title"><%= link_to "Project Title", "#", class:"c-card__title--link" %></h3>
        <p class="c-card__text">Project Text</p>
      </div>
    </div>
    <div class="c-card">
      <%= image_tag("bg-4.jpg", alt: "Sample-img", class: "c-card__img") %>
      <div class="c-card__text-holder">
        <h3 class="c-card__title"><%= link_to "Project Title", "#", class:"c-card__title--link" %></h3>
        <p class="c-card__text">Project Text</p>
      </div>
    </div>
  </main>
</div>