<main class='container-fluid bg-light'>
  <div class='row'>
    <div class='col-sm-12 blog-main'>
      <p><strong><%= @article.title %></strong></p>
      <hr>
      <p><%= @article.text %></p>
    </div>
  </div>
</main>
<nav class='navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark'>
  <div class="navbar-nav">
    <ul>
      <li><%= link_to 'Edit', edit_admin_article_path(@article), class:'nav-item btn btn-warning' %></li>
      <li><%= link_to 'Delete', admin_article_path(@article), class:'nav-item btn btn-danger',
                                                        method: :delete,
                                                        data: { confirm: 'Are you sure?' } %></li>
      <li><%= link_to 'Back to article list', admin_articles_path,  class:'nav-item btn btn-primary'%></li>
    </ul>
  </div>
</nav>

