<main class="container-fluid bg-light">
  <div class="row">
    <div class="col-sm-12 blog-main">
      <p><strong><%= @article.title %></strong></p>
      <hr>
      <p><%= @article.text %></p>
    </div>
  </div>
</main>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <div class="navbar-nav">
    <button type="button" class="nav-item btn btn-outline-secondary"><%= link_to "Edit", edit_admin_article_path(@article) %></button>
    <button type="button" class="nav-item btn btn-outline-secondary"><%= link_to 'Delete', admin_article_path(@article),
                                                                              method: :delete,
                                                                              data: { confirm: 'Are you sure?' } %></button>
    <button type="button" class="nav-item btn btn-outline-secondary"><%= link_to 'Back to article list', admin_articles_path %></button>
  </div>
</nav>

