<div class="c-img-holder">
  <%= image_tag("bg-desk.jpg", alt: "article-img", class: "c-img-holder__img" )%>
</div>
<div class="c-article-container">
  <h2 class="c-article-container__title "><%= @article.title %></h2>
  <p class="c-article-container__text"><%= @article.text %></p>
</div>
<div class="c-comments-container">
  <div class="c-comments-container__heading">Comments</div>
    <% @article.comments.each do |comment| %>
      <div class="c-comments-container__commenter"><h3 ><%= comment.commenter %></h3></div>
      <div class="c-comments-container__body"><h3 ><%= comment.body %></h3></div>
    <% end %>
  </div>
</div>

<%= render partial: 'comments/form' %>

<%= link_to 'Articles list', articles_path, class: "o-btn c-articles-btn" %>




