<div class="c-img-holder">
  <%= image_tag("bg-desk.jpg", alt: "article-img", class: "c-img-holder__img" )%>
</div>
<div class="c-article-container">
  <h2 class="c-article-container__title "><%= @article.title %></h2>
  <p class="c-article-container__text"><%= @article.text %></p>
</div>
<h3>Comments</h3>
  <%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>


<%= link_to 'Articles list', articles_path, class: "o-btn c-articles-btn" %>




