<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>PersonalPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class='bg-light'>
    <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse row justify-content-between' id='navbarNavAltMarkup'>
        <div class='navbar-nav col-md-4'>
          <a class='nav-item nav-link active' href='/admin'>Home <span class='sr-only'>(current)</span></a>
          <a class='nav-item nav-link' href='/articles'>User Index</a>
          <a class='nav-item nav-link' href='/admin/articles'>Articles</a>
        </div>
      </div>
    </nav>
    
    <%= flash.notice %>
  
    <%= yield %>

  </body>
</html>
